input[type=range] {
    height: 25px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 25px;
    cursor: pointer;
    background: #FCFFFE;
    border: 0;
  }
  input[type=range]::-webkit-slider-thumb {
    border: 0;
    height: 45px;
    width: 45px;
    border-radius: 50px;
    background: #F7B718;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #FCFFFE;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 25px;
    cursor: pointer;
    background: #FCFFFE;
    border-radius: 5px;
    border: 0;
  }
  input[type=range]::-moz-range-thumb {
    border: 0;
    height: 45px;
    width: 45px;
    border-radius: 50px;
    background: #F7B718;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 25px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #FCFFFE;
    border: 0;
    border-radius: 10px;
  }
  input[type=range]::-ms-fill-upper {
    background: #FCFFFE;
    border: 0;
    border-radius: 10px;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;;
    border: 0;
    height: 45px;
    width: 45px;
    border-radius: 50px;
    background: #F7B718;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #FCFFFE;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #FCFFFE;
  }